.about-style {
    background-image: url(https://i.ibb.co/6JBR70K/photo-1506947411487-a56738267384-ixid-Mnwx-Mj-A3f-DB8-MHxz-ZWFy-Y2h8-Nnx8-ZHJvbm-Vzf-GVuf-DB8f-DB8f.jpg);
    background-size: 100% 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-style h1 {
    margin-top: 200px;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 3, 105, 0.411);
    font-weight: 900;
    border-radius: 10px;
    padding: 5px 5px;
}
.for-about-back {
    background-color: #0a1931;
    padding: 40px 0;
}
.for-about-back h2 {
    color: #d8e3e7;
}
.for-about-back h6 {
    margin: 15px 0;
    color: #9cd9ee;
}
.for-about-back p {
    color: #788f96;
}
