.products-style {
    padding: 60px 0;
    background-color: #0a1931;
}
.products-style h1 {
    margin: 30px 0;
    color: #da0037;
}
.products-card-img {
    padding: 5px;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.products-card-style {
    background-color: #11325d;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(107, 107, 112, 0.2) 0px 7px 29px 0px;
}
.products-card-style:hover {
    background-color: #0a1931;
}
.products-card-title {
    color: #fffffe;
}
.products-card-para {
    color: #cacbd4;
}
.products-card-button {
    margin: 8px 0;
    color: #fffffe;
    background-color: #da0037;
    padding: 8px 20px;
    border: 2px solid #da0037;
    border-radius: 10px;
}
