.banner-img {
    background-image: url(https://i.ibb.co/BGv0PzG/46aa0a6292788f5febd7065e16374fdc2a-30-drone-lede-2x-rsocial-w600.jpg);
    background-size: 100% 100%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}
