.header-style {
    background-image: linear-gradient(#0a1931, #b3b2b1);
}
.logout {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: rgb(145, 142, 142);
}
.logout:hover {
    color: rgb(194, 193, 193);
}
.word-color {
    color: #ff8906;
}
.username {
    margin-right: 10px;
    color: rgb(145, 142, 142);
}
.username:hover {
    color: rgb(194, 193, 193);
}
